.git
.gitignore
__pycache__/
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
app/*/*/*/*/__pycache__/
app/*/*/*/*/*/__pycache__/
app/*/*/*/*/*/*/__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
.idea/
.vscode/
*.log
.DS_Store
Thumbs.db
test_main.http
